<div class="box-area">
    <div class="box" *ngFor="let clo of inputCLO">
        <div *ngIf="clo.is_featured" class="promo">
            {{iPromoText}}
            <hr>
        </div>
        <h2>{{clo.name}}</h2>
        <div>
            <hr>
        </div>
        <div class="features">
            <img src="{{inputMB.assets.tv_category}}" width="40px"/>
            <ul>
                <ng-container *ngFor="let inc of clo.included">
                    <li *ngIf="inc.product_category === 'tv'">
                        {{ getFirstPart(inc.long_name,inc.attributes.attribute_value)}}
                        <strong>{{inc.attributes.attribute_value}}</strong>
                        {{ getSecondPart(inc.long_name,inc.attributes.attribute_value)}}
                    </li>
                </ng-container>
            </ul>
        </div>
        <div>
            <hr>
        </div>
        <div class="features">
            <img src="{{inputMB.assets.net_category}}" width="40px"/>
            <ul>
                <ng-container *ngFor="let inc of clo.included">
                    <li *ngIf="inc.product_category === 'net'">
                        {{ getFirstPart(inc.long_name,inc.attributes.attribute_value)}}
                        <strong>{{inc.attributes.attribute_value}}</strong>
                        {{ getSecondPart(inc.long_name,inc.attributes.attribute_value)}}
                    </li>
                </ng-container>
            </ul>
        </div>
        <button class="order">Naručite</button>
    </div>
</div>

