<div class="box-area">
    <div class="box" *ngFor="let clo of inputCLO">
        <div *ngIf="clo.is_featured" class="promo">
            {{iPromoText}}
            <hr>
        </div>
        <h2>{{clo.name}}</h2>
        <div>
            <hr>
        </div>
        <div class="features">
            <img src="{{inputMB.assets.tv_category}}" width="40px"/>
            <ul>
                <ng-container *ngFor="let inc of clo.included">
                    <li *ngIf="inc.product_category === 'tv'">
                        {{ getFirstPart(inc.long_name,inc.attributes.attribute_value)}}
                        <strong>{{inc.attributes.attribute_value}}</strong>
                        {{ getSecondPart(inc.long_name,inc.attributes.attribute_value)}}
                    </li>
                </ng-container>
            </ul>
        </div>
        <div>
            <hr>
        </div>
        <div class="features">
            <img src="{{inputMB.assets.net_category}}" width="40px"/>
            <ul>
                <ng-container *ngFor="let inc of clo.included">
                    <li *ngIf="inc.product_category === 'net'">
                        {{ getFirstPart(inc.long_name,inc.attributes.attribute_value)}}
                        <strong>{{inc.attributes.attribute_value}}</strong>
                        {{ getSecondPart(inc.long_name,inc.attributes.attribute_value)}}
                    </li>
                </ng-container>
            </ul>
        </div>
        <div *ngFor="let prom of clo.promotions">
            <div *ngFor="let discount of prom.discount_variations" class="promotions">
                <div *ngIf="discount === inputCT">
                    <img src="{{prom.promotion_image}}" width="80px"/>
                    <div>{{prom.promo_text.slice(3,28)}}</div>
                </div>
            </div>
        </div>
        <div>
            <hr>
        </div>
        <div *ngIf="clo.prices.old_price_recurring[inputCT] && clo.prices.price_recurring[inputCT]">
            <span class="striked">{{clo.prices.old_price_recurringinputCT}}</span>
            <span class="price">{{getFormatedPrice(clo.prices.old_price_recurring[inputCT])}}</span>
            <span class="formated">{{getFormatedPrice(clo.prices.price_recurring[inputCT])}}</span>
        </div>
        <p class="hm">{{clo.prices.old_price_promo_text.slice(3,18)}}</p>
        <div class="formated"
                *ngIf="!clo.prices.old_price_recurring[inputCT] && clo.prices.price_recurring[inputCT]"
        >{{getFormatedPrice(clo.prices.price_recurring[inputCT])}}
        </div>
        <button class="order">Naručite</button>
    </div>
</div>


